body {
  background: #eee;
}

.app {
  display: flex;
  justify-content: center;
}

table {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}

.table-head {
  cursor: pointer;
}

.sorted-default::after {
  content: '↓';
}